.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  }
.page__content {
    min-height: calc(50vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    font-size: 2rem;
    padding: 1rem;
    /* position: relative; */
}
.page__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
    padding: 1rem;
    margin-top:0.75rem;
    display: flex;
  }
.page__content-data {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;

}
mat-card{
  color: white;
  margin: 0 20px;
  width: 250px;
  margin-top: 80px;
}
.confirmed{
  background-color: #3F51B5;
}
.recovered{
  background-color: #2196F3;
}
.deaths{
  background-color: #EA1F63;
}
.rate{
  background-color: #009688;
}
.page__content h1{
  color: black;
  margin: 10px 0 30px ;
  font-size:30px
}
.regional{
  margin-top: 20px;
}

.map-chart{
  margin-top:30px;
  margin-bottom:30px;
  background-color: #F1F5F9;
  display:flex;
  justify-content: space-around;
}
.map{
  height:300px;
  width:90%;
  background-color: aqua;
  border-radius: 10px;
  margin-right: 15px;
}
.chart{
  height:300px;
  width:90%;
  border-radius: 10px;
  margin-left: 15px;
  background-color: rgb(38, 95, 95);
}
mat-grid-tile {
  background: lightblue;

}
.dropdown{
  margin-top:30px
}

.statistic-com{
  width: 100%;
}

.statistic{
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-flow: row;
  gap: 20px;
  margin-bottom: 40px;
}

.b-size{
  font-size: 40px;
}

.item{
  height: 80px;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
  color: white;
}

.statistic-confirmed{
  background-color: #683bb7;
}

.statistic-recovered {
  background: #059689;
}

.statistic-deaths {
  background-color: #ea1f63;
}

.statistic-rate {
  background-color: #c3195c;
}

.statistic-confirmed-c {
  background-color: #522ea8
  ;
}

.statistic-recovered-c {
  background: #00796b
  ;
}

.statistic-deaths-c {
  background-color: #880d50

  ;
}

.statistic-rate-c {
  background-color: #c3195c;
}

.statistic .title {
  font-size: 16px;
}

.statistic .data {
  font-size: 19px;
  font-weight: 400;
}

.regional-title .title{
margin-left: 5px;
font-size: 12px;
}

.regional-select{
  margin-top: -17px;
}

select{
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px #a4a8b0 solid !important;
  max-width: 250px;
  margin-top: -12px;
  font-weight: 600;
  padding-left: 2px !important;
}
