.charts-com {
  height: 350px;
  position: relative;
}
.legend {
  width: 100%;
  height: 50px;

  position: absolute;
  bottom: 20px;
  left: 0;
}
.legend-item {
  display: flex;
  justify-content: center;
}

.confirmed-symbol,
.recovered-symbol,
.deaths-symbol {
  width: 20px;
  height: 0;
  margin: auto;
  margin-right: 6px;
}
.confirmed-symbol {
  border: 3px solid purple;
}
.recovered-symbol {
  border: 3px solid green;
}
.deaths-symbol {
  border: 3px solid red;
}
.item-1,
.item-2,
.item-3 {
  display: flex;
  margin-left: 40px;
}
@media only screen and (max-width: 425px) {
  .legend {
    display: block;
  }
  .item-1,
  .item-2,
  .item-3 {
    margin-left: 10px;
  }
  .charts-com {
    margin-top: 50px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .item-1,
  .item-2,
  .item-3 {
    margin-left: 10px;
  }
}
